.txtindice       { text-decoration:none; color:#0000FF; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
            .txtindice:hover { color:#000000; text-decoration:underline; font-size: 16px; }
            
            .oculto { display: none; }
            .sombra { box-shadow: 0px 0px 10px #222; }
            
   
.menusetamostrarocultar_prop{ display: none; } 
.menusetabackground_1 { cursor:pointer; height:100%; width: 10px; padding-right: 20px;
                        background: url(../imagens/002_menu/seta_para_cima.png) no-repeat scroll center center; }
.menusetabackground_2 { cursor:pointer; height:100%; width: 10px; padding-right: 20px;
                        background: url(../imagens/002_menu/seta_para_baixo.png) no-repeat scroll center center;}


            @media (min-width : 980px) {}
            @media (min-width : 980px) and (max-width : 1024px) {}
            @media (max-width : 980px) {}
            @media (max-width : 570px) {}
            @media (max-width : 418px) {}

h4 { page-break-before:always; }
            
@page { size: 21cm 29.7cm; margin-left: 0.5cm; margin-right: 0.5cm; margin-top: 0.5cm; margin-bottom: 0.5cm; }
@page:first { size: 21cm 29.7cm; margin-left: 0.5cm; margin-right: 0.5cm; margin-top: 1.5cm; margin-bottom: 0.5cm; }

html, body { height: 100%; }

body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0px; margin: 0px 20px 0px 20px;
       color: black; line-height: 1.5;
}

.img_list{ cursor: pointer; height: 27px; width: 27px; }

.menu       { text-decoration:none; color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.menu:hover {color:#FFFFFF; text-decoration:underline; }

.menul       { text-decoration:none; color:#0000FF; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.menul:hover {color:#0000FF; text-decoration:underline; }

.botm2:hover {color: black; font-size: 14px; text-align: center; font-weight:bold; background: #CCFF00; cursor: pointer; }

.botmSelec:hover {color: black; font-size: 14px; text-align: center; font-weight:bold; background: #68FCFC; cursor: pointer; }
.botmSelec2      {color: black; font-size: 14px; text-align: center; font-weight:bold; background: #CCFF00; cursor: pointer; }
            
.txttitulo { color: #1C1C1C; font-size: 20px; text-align: center; } 

/* background */
.backp     { background-color:#E4E4E4; }
.backtitulo{ background: #CCFF00;      }
.backred   { background-color:#C10033; }
.backcinza { background-color:#F0F0F0; }
.backbco   { background-color:#FFFFFF; }

.boxtitulosombra { box-shadow: 0 0 10px #222; }

/* COR DO TEXTO */
fazul    { color: #0000FF; }
fpreto   { color:#000000;  }
fbranca  { color: white;   }
froxo    { color: #520693; }
fverde   { color: #339900; }
.flaranja{ color: #EF7900 ;}
.fpreto  { color:#000000;  }
            
.festilobold{ font-weight:bold; }
            
/* DECORAÃƒâ€¡Ãƒâ€šO DO TEXTO */
.decotxtnao  { text-decoration:none;      }
.decotxtlinha{ text-decoration:underline; }
            
/* ALIMENTAÃƒâ€¡ÃƒÆ’O DO TEXTO HORIZONTAL*/
.alimtxtcenterh {text-align:center;  }
.alimtxtlefth   {text-align:left;    }
.alimtxtrighth  {text-align:right;   }
.alimtxtjustifyh{text-align:justify ;}

/* ALIMENTAÃƒâ€¡ÃƒÆ’O DO TEXTO VERTICAL*/
.alimtxtcenterv { vertical-align: central; }
.alimtxttopov   { vertical-align: top; }

            
/* CURSORES DO MOUSE */
.mousepointer{ cursor:pointer; }
      
/* MOUSE HOVER */
.mouseencimatxtverde:hover    { color: #00CC00;            }

.mouseencimaftm16px:hover     { font-size:16px;            }

.mouseencimadecotxtnao:hover  { text-decoration:none;      }
.mouseencimadecotxtsim:hover  { text-decoration:underline; }

/* LINK */
.linktipo1:link             { color: #0000FF;            }
.linktipo1:visited          { color: #0000FF;            }
.linktipo1:active           { color: #0000FF;            }
.linktipo1:hover            { color: #00CC00;            }

            
/* TAMANHOS DE FONTES */
.ftm10px{ font-size:10px; }
.ftm11px{ font-size:11px; }
.ftm12px{ font-size:12px; }
.ftm13px{ font-size:13px; }
.ftm14px{ font-size:14px; }
.ftm15px{ font-size:15px; }
.ftm16px{ font-size:16px; }
.ftm17px{ font-size:17px; }
.ftm18px{ font-size:18px; }
.ftm19px{ font-size:19px; }
.ftm20px{ font-size:20px; }
.ftm140porc{ font-size:140%; }
            
/* PADDING TOP*/
.pf0 { padding: 0px      }
.pt0 { padding-top:0px   }
.pt2 { padding-top:2px   }
.pt3 { padding-top:3px   }
.pt5 { padding-top:5px   }
            
/* PADDING DIREITA */
.pr0  { padding-right:0px   }
.pr20 { padding-right:20px   }
            
/* PADDING ESQUERDA */
.pl0  { padding-left:0px  }
.pl10 { padding-left:10px }
.pl20 { padding-left:20px }
            
/* PADDING BOTTOM */
.pb0 {padding-bottom:0px }
            
/* MARGIN BOTTOM */
.mf0  { margin: 0px  }
.mb0  { margin-bottom:0px  }
.mb10 { margin-bottom:10px } 
.mb20 { margin-bottom:20px } 
            
/* MARGIN ESQUERDA */
.mlpercent1  { margin-left:1% }
.ml2   { margin-left:2px }
.ml0   { margin-left:0px }
.ml13  { margin-left:13px }
.ml15  { margin-left:15px }
.ml20  { margin-left:20px }
.ml30  { margin-left:30px }
.ml40  { margin-left:40px }
.ml60  { margin-left:60px }
.ml150 { margin-left: 150px; }
.ml180 { margin-left: 180px; }
.ml190 { margin-left: 190px; }
            
/* MARGIN DIREITA */
.mr0 { margin-right:0px }
.mr2 { margin-right:2px }
.mr3 { margin-right:3px }
.mr20 { margin-right:20px }
            
/* MARGIN TOP */
.mt0  { margin-top:0px  }
.mt3  { margin-top:3px  }
.mt4  { margin-top:4px  }
.mt5  { margin-top:5px  }
.mt2  { margin-top:2px  }
.mt10 { margin-top:10px }
.mt11 { margin-top:11px }
.mt15 { margin-top:15px }
.mt20 { margin-top:20px }

/* FLOAT */
.floatl { float: left;  }
.floatr { float: right; }

/* POSITION */
.positionr{ position:relative; }
.positiona{ position:absolute; }

/* Tamanho Vertical */
.h16px  { height: 16px;  }
.h20px  { height: 20px;  }
.h27px  { height: 27px;  }
.h28px  { height: 28px;  }
.h44px  { height: 44px;  }
.h62px  { height:62px;   }
.h64px  { height:64px;   }
.h131px { height: 131px; }
.h134px { height: 134px; }

/* Tamanho Horizonal */
.wpercent99  { width:99%;   }
.wpercent100 { width:100%;  }
.w19px       { width:19px;  }
.w27px       { width:27px;  }
.w64px       { width:64px;  }
.w146px      { width:146px; }

/* border-bottom-style */
.bbsr{ border-bottom-style: ridge; }

/* border-bottom-color */
.bbcb { border-bottom-color: #FFFFFF; }

/* display */
.dispin { display:inline; }

/* list-style */
.listsn { list-style:none; }

/* border-bottom-style */
.bbsr{ border-bottom-style: ridge; }
/* border-bottom-color */
.bbcb { border-bottom-color: #FFFFFF; }
/* display */
.dispin { display:inline; }
/* list-style */
.listsn { list-style:none; }


/**/
.header       { height:27px; }
.header:hover { height:27px; background-color: #F0F0F0; }

.header a {
     display: block; /* nao delata se deletar nao funciona. Nao sei por que */
    background-image: url("https://lh6.googleusercontent.com/-dQh94gLAuBp5txaFOBnzGF3AWpJc783cdKd0Pu5k8M=s207-p-no");
    background-repeat: no-repeat;
    height:27px; /* pessoal do forum nao delata a largura e altura */
    width:27px; /* pessoal do forum nao delata a largura e altura */
    color: #eaeaea;
}

.header a:hover {
    display: block; /* nao delata se deletar nao funciona. Nao sei por que */
    background-image: url("https://lh3.googleusercontent.com/ontFcFJjvZVC7mQMdF84BEi1DkCubmknTWXUHapnKa0=s207-p-no");
    background-repeat: no-repeat;
    height:27px; /* pessoal do forum nao delata a largura e altura */
    width:27px; /* pessoal do forum nao delata a largura e altura */
}

.header2       { height:27px; }
.header2:hover { height:27px; background-color: #F0F0F0; }

.header2 a {
     display: block; /* nao delata se deletar nao funciona. Nao sei por que */
    background-image: url("https://lh6.googleusercontent.com/kVInumJ9ZHKfkUIPf_FchiHlx3LCWqdjZDysXdjOpKc=s207-p-no");
    background-repeat: no-repeat;
    height:27px; /* pessoal do forum nao delata a largura e altura */
    width:27px; /* pessoal do forum nao delata a largura e altura */
    color: #eaeaea;
}

.header2 a:hover {
    display: block; /* nao delata se deletar nao funciona. Nao sei por que */
    background-image: url("https://lh4.googleusercontent.com/6mP8vSsBlnKjD_Qm8QrVL7vcKswOIXlqWw7DxRbHbmM=s207-p-no");
    background-repeat: no-repeat;
    height:27px; /* pessoal do forum nao delata a largura e altura */
    width:27px; /* pessoal do forum nao delata a largura e altura */
}

.dispnone { display: none; }

